p a:visited,
p a:link {
  text-decoration: white;
  color: white;
  text-decoration: underline;
}

.carousel_div {
  height: 100%;
  width: 100%;
  text-align: center;
}
      
.carousel_img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
